body, html {
  min-height: 100%; }

body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background: #dddddd; }

section, header, footer, nav, aside, hgroup {
  display: block; }

a img {
  border: 0; }

#top {
  top: 0;
  width: 100%;
  z-index: 9999;
  margin: 0;
  padding-top: 15px;
  height: 60px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#dddddd));
  background-image: -moz-linear-gradient(top, white, #dddddd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#dddddd');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#dddddd')"; }
  #top section {
    padding: 0 20px;
    min-width: 960px;
    max-width: 1280px;
    margin: 0 auto; }
  #top h1 {
    margin: 0;
    float: left; }
  #top #user_bar {
    padding-top: 10px;
    position: relative; }
    #top #user_bar #sign_in {
      color: #333333;
      font-weight: bold;
      display: block;
      float: right;
      text-decoration: none;
      padding: 10px 16px 14px; }
      #top #user_bar #sign_in:hover {
        background: #666666;
        z-index: 999;
        color: white;
        -moz-border-radius-topright: 10px;
        -webkit-border-top-right-radius: 10px;
        border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -webkit-border-top-left-radius: 10px;
        border-top-left-radius: 10px; }
        #top #user_bar #sign_in:hover #sign_ins {
          display: block; }
  #top #sign_ins {
    position: absolute;
    display: none;
    top: 48px;
    right: 0;
    margin-left: 600px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#333333));
    background-image: -moz-linear-gradient(top, #666666, #333333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333')";
    -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='rgba(0, 0, 0, 0.4)')";
    -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0px, OffY=2px, Color='rgba(0, 0, 0, 0.4)')\"";
    padding: 15px;
    z-index: 9998;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px; }
    #top #sign_ins a {
      display: inline-block;
      padding: 1px 3px;
      margin-top: 5px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; }
      #top #sign_ins a:hover {
        background: #666666; }

#wrapper {
  min-width: 960px;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto; }

h1, h2, h3, h4 {
  letter-spacing: -0.05em; }

#content {
  background: #f5f5f5;
  margin-top: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='rgba(0, 0, 0, 0.3)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=1px, OffY=1px, Color='rgba(0, 0, 0, 0.3)')\"";
  min-height: 800px; }
  #content > header {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#333333));
    background-image: -moz-linear-gradient(top, #666666, #333333);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333')";
    padding: 8px 14px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px; }
    #content > header h1 {
      color: white;
      font-size: 26px;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      margin: 0; }

#sidebar {
  width: 300px;
  float: left;
  -moz-box-shadow: 2px 0 7px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 0 7px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 0 7px rgba(0, 0, 0, 0.2);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=0, Color='rgba(0, 0, 0, 0.2)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=2px, OffY=0, Color='rgba(0, 0, 0, 0.2)')\"";
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px; }
  #sidebar ul {
    margin: 0;
    padding: 0; }
  #sidebar li {
    list-style: none; }
    #sidebar li a {
      display: block;
      padding: 10px 15px;
      border-top: 1px solid white;
      border-bottom: 1px solid #dddddd;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#f5f5f5));
      background-image: -moz-linear-gradient(top, white, #f5f5f5);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f5f5f5');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#f5f5f5')";
      color: #444444;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold; }
      #sidebar li a b {
        display: block; }
      #sidebar li a em {
        display: block;
        font-size: 14px;
        color: #aaaaaa;
        font-weight: normal; }
      #sidebar li a:hover {
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eef5ff), to(#cceeff));
        background-image: -moz-linear-gradient(top, #eef5ff, #cceeff);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef5ff', endColorstr='#cceeff');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef5ff', endColorstr='#cceeff')";
        border-bottom: 1px solid #aaccff;
        border-top: 1px solid #aaccff; }
    #sidebar li:last-child a {
      -moz-border-radius-bottomright: 10px;
      -webkit-border-bottom-right-radius: 10px;
      border-bottom-right-radius: 10px; }
    #sidebar li a.disabled {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
      background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd')";
      color: #777777;
      border-bottom: 1px solid #cccccc;
      border-top: 1px solid #eeeeee;
      cursor: default; }

#main {
  margin: 0 15px 15px 315px;
  background: white;
  padding: 15px;
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.3);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1px, Color='rgba(0, 0, 0, 0.3)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1px, Color='rgba(0, 0, 0, 0.3)')\"";
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px; }
  #main h1, #main h2, #main h3, #main h4 {
    border-bottom: 1px solid #cccccc;
    font-weight: normal;
    margin: 0 0 20px;
    color: #555555;
    letter-spacing: 0; }
  #main h1 {
    font-size: 22px; }

#heading {
  margin: 0 15px 0 315px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aaccdd), to(#88aabb));
  background-image: -moz-linear-gradient(top, #aaccdd, #88aabb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaccdd', endColorstr='#88aabb');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaccdd', endColorstr='#88aabb')";
  -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1px, Color='rgba(0, 0, 0, 0.4)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1px, Color='rgba(0, 0, 0, 0.4)')\"";
  padding: 12px 15px;
  color: #225566;
  z-index: 100; }
