    </section>
  </div>
  <footer id='bottom'>
    Built for the <%= link_to "2010 Rails Rumble", "http://railsrumble.com/teams/the-lonely-intridean", :target => '_blank' %> by <b>Michael Bleigh</b>. <%= link_to 'Developers', recipes_path %>
  </footer>
</body>
</html>
