    </section>
  </div>
  <footer id='bottom'>
    Built for the <%= link_to "2010 Rails Rumble", "http://railsrumble.com/teams/the-lonely-intridean", :target => '_blank' %> by <%= link_to "Michael Bleigh", "http://twitter.com/mbleigh", :target => '_blank' %></b>.
    <%= link_to 'About', 'http://github.com/intridea/rails_wizard/wiki', :target => '_github' %>
    <%= link_to 'Feedback', 'http://github.com/intridea/rails_wizard/issues', :target => '_github' %>
  </footer>
</body>
</html>
