<aside id='sidebar'>
  <p>Welcome to the recipe creator. It's
  a bit daunting at first, but there will
  be documentation (someday).</p>
</aside>
<h1 id='heading'><%= @heading || "A Rocket-Fueled Kick in the App" %></h1>
<section id='main'>
  <%= yield %>
</section>